@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

body > div {
  flex: 1;
  height: 90%;
}

.gradient {
  background: linear-gradient(90deg, #3f87a6,  #f69d3c);
}
