<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Snippit" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white h-screen flex flex-col overflow-hidden">
    <header class="relative z-10 px-4 sm:px-6 lg:px-8 py-6">
      <div class="flex items-center gap-4 justify-between">
        <div />
        <%= if @current_user do %>
        <div class="flex gap-8">
          <div
            class="cursor-pointer"
            phx-click={show_modal("user")}
          >
            <%= @current_user.username %>
          </div>
          <div>
            <.link
              href={~p"/auth/logout"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Log out
            </.link>
          </div>
        </div>
        <% end %>

      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
